.menu-list {
    @include font-basic;
    font-size: 12px;
    padding: 0 !important;
    color: $font-primary;

    .MuiListSubheader-root {
        line-height: 20px;
        color: $font-light;
        padding: 4px 12px 4px 12px;
        background: transparent;
    }

    .MuiButtonBase-root {
        padding: 0;
        gap: 2px;
        padding-left: 12px;

        .MuiTypography-root {
            font-size: 14px;
            line-height: 20px;
        }

        .MuiListItemIcon-root {
            min-width: auto
        }
    }

    .MuiCollapse-root .MuiListItemButton-gutters {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        margin-left: 43px;
    }

}