.bar-chart-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    .graph-title {
        position: absolute;
        color: $font-primary;
        top: 0;
        z-index: 10;
        padding: 0;
        margin: 0;
        top: 15px;
        left: 18px;
    }

    .bar-chart {
        background-color: $background-secondary;
        border-radius: 8px;

        .MuiChartsAxis-tickLabel {
            fill: $font-light !important;

        }

        .MuiChartsGrid-line {
            stroke: $border-color;
        }

        .MuiChartsAxis-line {
            stroke: $font-light !important;
            stroke-width: 0.5 !important;
        }

        .MuiChartsLegend-series {
            tspan {
                @include font-bold;
                fill: $font-primary;

            }

            .MuiChartsLegend-mark {
                display: none;
            }
        }
    }
}